<!-- {{ 'theme.scss.css' | asset_url | stylesheet_tag }} -->
{% style %}
  .performance-facts__title {
    color: #222222;
  }
{% endstyle %}
{% assign body_font_size = block.settings.body_font_size%}
<nutrition-Table class="container_performance-facts" data-id="{{ block.id }}" style="align-items:{{block.settings.vertical_alignment}};"  >
  <!-- {%- if block.settings.heading -%}
    <h1>{{ block.settings.heading }}</h1>
  {%- endif -%}

  {%- if block.settings.description -%}
    <p>{{ block.settings.description }}</p>
  {%- endif -%} -->
 
 <script>
  const fetchProducts = ()=>{
    fetch("/test",{
      method:"GET",
      headers:{
        'Content-Type': 'application/json',
        Accept: 'application/json'
      }
    }).then((res)=>res.text()).then((response)=>
    console.log(response)
    )
  }
  // const handleBackGroundImage =()=>{
  //   var width = window.innerWidth;
  //   const element = document.getElementById('container')
  //   var imageElem = document.createElement("img");
  //   imageElem.setAttribute("class", "backGroundImage");
  //   imageElem.setAttribute("height", "");
  //   imageElem.setAttribute("width", "");
  //   imageElem.setAttribute("alt", "");
  //   if(width>700){
  //     imageElem.src = "{{block.settings.back_ground_image | img_url: 'large'}}";
  //     element.prepend(imageElem)
  //   }else{
  //     imageElem.src = "{{block.settings.MobileView | img_url: 'large'}}";
  //     element.prepend(imageElem)
  //   }
  // }
  // handleBackGroundImage()
  // window.addEventListener('resize',handleBackGroundImage)
 </script>
  <section id="container" class="performance-facts" style="width:{{block.settings.tableWidth}}%;border: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}}; border-radius:{{block.settings.borderRadiusMainTable}}px;background-color:{{block.settings.Table_background_color}};  ">
    {%- if block.settings.back_ground_image-%}
    <img class="backGroundImage" src="{{block.settings.back_ground_image | img_url: 'large'}}" alt="" height="" width="">
    {%- endif -%}
    <header class="performance-facts__header" style="border-bottom: {{block.settings.secondaryBorderThickness}}px solid {{block.settings.secondaryBorder}};">
      <div class="performance-facts__header_title">
        <div class="header_container" style="border-bottom:{{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};">
          <div style="display:flex;flex-direction:row;align-items:center;gap:10px;">
            {%- if block.settings.custom_accordion_icon_opend-%}
            <img src="{{block.settings.custom_accordion_icon_opend | img_url: '15*15'}}"   alt="" width="15" height="15" style="margin-right: 10px;">
            {%- endif -%}
          <h2 class="performance-facts__title header_container" style="font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{block.settings.acorddions_headings_font_size}}px;">Nutrition Facts</h2>
          </div>
          {%- if block.settings.custom_accordion_icon_closed-%}
          <img src="{{block.settings.custom_accordion_icon_closed | img_url: '15*15'}}"   alt="" width="15" height="15" style="margin-right: 10px;">
          {%- endif -%}
        </div>
      </div>
      <hr style="margin:0"/>
        <h4 style="font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">6 serving per container</h4>
        <div class="performance-facts_secondaryHeader" >
          <h3 style="margin:0; font-weight: bold;font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">Serving size </h3>
          <h3 style="margin:0; font-weight: bold;font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">1 cup (230g) </h3>
        </div>
    </header>
    <table class="performance-facts__table">
      <thead>
        <tr>
          <th colspan="3" class="small-info" id="servingstuff" style="font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
            Amount Per Serving
          </th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <th colspan="2">
            <b>Calories</b>
            200
          </th>
          <td>
            Calories from Fat
            130
          </td>
        </tr>
        <tr class="thick-row" style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td colspan="3" class="small-info">
            <b>% Daily Value*</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <th colspan="2">
            <b>Total Fat</b>
            14g
          </th>
          <td>
            <b>22%</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td class="blank-cell">
          </td>
          <th>
            Saturated Fat
            9g
          </th>
          <td>
            <b>22%</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td class="blank-cell">
          </td>
          <th>
            Trans Fat
            0g
          </th>
          <td>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <th colspan="2">
            <b>Cholesterol</b>
            55mg
          </th>
          <td>
            <b>18%</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <th colspan="2">
            <b>Sodium</b>
            40mg
          </th>
          <td>
            <b>2%</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <th colspan="2">
            <b>Total Carbohydrate</b>
            17g
          </th>
          <td>
            <b>6%</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td class="blank-cell">
          </td>
          <th>
            Dietary Fiber
            1g
          </th>
          <td>
            <b>4%</b>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td class="blank-cell">
          </td>
          <th>
            Sugars
            14g
          </th>
          <td>
          </td>
        </tr>
        <tr style="border-bottom:{{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <th colspan="2">
            <b>Protein</b>
            3g
          </th>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="performance-facts__table--grid">
      <tbody>
        <tr style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td colspan="2" >
            Vitamin A
            10%
          </td>
          <td>
            Vitamin C
            0%
          </td>
        </tr>
        <tr class="thin-end" style="border-bottom: {{block.settings.secondaryBorderThickness}}px solid {{block.settings.secondaryBorder}};font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">
          <td colspan="2">
            Calcium
            10%
          </td>
          <td>
            Iron
            6%
          </td>
        </tr>
      </tbody>
    </table>
    <p style="border-bottom:1px solid black;font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">Salt content is exclusively due to the presence of naturally occurring sodium.</p>
    <p style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};width:100%;font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;">*Reference intake of an average adult (8 400 kJ / 2 000 kcal)</p>
    <div class="header_container" style="border-bottom:{{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};">
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px;">
        {%- if block.settings.custom_accordion_icon_opend-%}
        <img src="{{block.settings.custom_accordion_icon_opend | img_url: '15*15'}}"   alt="" width="15" height="15" style="margin-right: 10px;">
        {%- endif -%}
        <h2 class="performance-facts__title" style="font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{block.settings.acorddions_headings_font_size}}px;">Ingredients</h2>
      </div>
      {%- if block.settings.custom_accordion_icon_closed-%}
      <img src="{{block.settings.custom_accordion_icon_closed | img_url: '15*15'}}"   alt="" width="15" height="15" style="margin-right: 10px;">
      {%- endif -%}

    </div>
    <div style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};width:100%;display:flex;
    flex-wrap:wrap;gap:5px;font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;margin-bottom:10px;">
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:100px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Mandarin Oranges (37.9%)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Light Whipping Cream (<strong>Milk</strong>)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Peras (12.4%)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Peaches (7.7%)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Thompson Seedles Grapes (7.6%)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Apple (7.5%)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Banana (5.9%)</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_ingredient_icon-%}
      <img src="{{block.settings.Custom_ingredient_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%}
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">English Walnuts <strong>(Tree Nuts)</strong></p>
    </div>
      </div>
    <div class="header_container" style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};">
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px;">
        {%- if block.settings.custom_accordion_icon_opend-%}
        <img src="{{block.settings.custom_accordion_icon_opend | img_url: '15*15'}}"   alt="" width="15" height="15" style="margin-right: 10px;">
        {%- endif -%}
      <h2 class="performance-facts__title" style="font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{block.settings.acorddions_headings_font_size}}px;">Allergy Information</h2>
      </div>
      {%- if block.settings.custom_accordion_icon_closed-%}
      <img src="{{block.settings.custom_accordion_icon_closed | img_url: '15*15'}}"   alt="" width="15" height="15" style="margin-right: 10px;">
      {%- endif -%}
    </div>
    <div style="border-bottom: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}};width:100%;display:flex;
    flex-wrap:wrap;gap:5px;text-align:center;">
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_allergen_icon-%}
      <img src="{{block.settings.Custom_allergen_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%} 
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px;">Contains Wheat</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_allergen_icon-%}
      <img src="{{block.settings.Custom_allergen_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%} 
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Almond</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_allergen_icon-%}
      <img src="{{block.settings.Custom_allergen_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%} 
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Peanut</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_allergen_icon-%}
      <img src="{{block.settings.Custom_allergen_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%} 
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Soy</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px;background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_allergen_icon-%}
      <img src="{{block.settings.Custom_allergen_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%} 
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">Milk</p>
    </div>
    <div style="display:flex;flex-direction: row;align-items:center;gap:5px;border-radius:{{block.settings.cell_border_radius}}px;padding:{{block.settings.Ingredients_allergens_border_padding}}px; background-color:{{block.settings.cells_background_color}};text-align:center;padding:2px;">
      {%- if block.settings.Custom_allergen_icon-%}
      <img src="{{block.settings.Custom_allergen_icon | img_url: '10*10'}}"   alt="" width="10" height="10">
      {%- endif -%} 
      <p style="font-family:{{block.settings.body_font.family}};color:{{block.settings.Ingredients_allergens_color}};font-size:{{body_font_size}}px">It May contain other tree nuts</p>
    </div>
    </div>
   <div  style="font-family:{{block.settings.body_font.family}};color:{{block.settings.body_fontColor}};font-size:{{body_font_size}}px;margin-top:10px;">
    <strong>
      *LEGAL NOTICE
    </strong>
    <div>
      {{body_font_size}}
    </div>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum risus tempor, blandit nisi sollicitudin, varius diam. 
   </div>
  </section>
</nutrition-Table>

{% schema %}
{
  "name":"Nutrition Table",
  "target":"section",
  "stylesheet":"germanStyleTable.css",
  "javascript":"nutritionTable.js",
  "templates":["product"],
  "settings":[
    {
      "type":"header",
      "content":"Label Block"
    },
   {
    "type":"select",
    "id":"vertical_alignment",
    "label":"Align",
    "options":
    [
       {
          "value":"left",
          "label":"Left"
       },
       {
          "value":"center",
          "label":"Center"
       },
       {
          "value":"end",
          "label":"Right"
       }
    ],
    "default":"center"
   },
   {
    "type":"range",
    "id":"tableWidth",
    "min":25,
    "max":100,
    "step":1,
    "unit":"%",
    "label":"Width",
    "default":30
   },
   {
    "type":"header",
    "content":"MAIN TABLE"
   },
   {
    "type":"color",
    "id":"primaryBorder",
    "label":"Primary Border color",
    "default":"#CECECE"
   },
   {
    "type":"color",
    "id":"secondaryBorder",
    "label":"Secondary Border color",
    "default":"#222222"
   },
   {
    "type":"range",
    "id":"primaryBorderThickness",
    "min":0,
    "max":3,
    "step":0.5,
    "unit":"px",
    "label":"Primary Border Thickness",
    "default":1
   },
   {
    "type":"range",
    "id":"secondaryBorderThickness",
    "min":0,
    "max":5,
    "step":0.5,
    "unit":"px",
    "label":"Secondary Border Thickness",
    "default":2
   },
   {
    "type":"range",
    "id":"borderRadiusMainTable",
    "min":0,
    "max":20,
    "step":1,
    "unit":"px",
    "label":"Border Radius",
    "default":1
   },
   {
    "type": "color",
    "id": "Table_background_color",
    "label": "Table background color",
    "default": " #FFFFFF"
   },
   {
    "type": "image_picker",
    "id": "back_ground_image",
    "label": "Table Background"
  },
  {
    "type":"header",
    "content":"FONT STYLE"
   },
   {
    "type": "font_picker",
    "id": "body_font",
    "label": "Body Font",
    "default": "helvetica_n4"
  },
  {
    "type": "color",
    "id": "body_fontColor",
    "label": "Font color",
    "default": "#000000"
  },
  {
    "type": "range",
    "id": "body_font_size",
    "min": 2,
    "max": 18,
    "step": 1,
    "unit": "px",
    "label": "Body font size",
    "default": 12
  },
  {
    "type": "range",
    "id": "acorddions_headings_font_size",
    "min": 4,
    "max": 22,
    "step": 1,
    "unit": "px",
    "label": "Acorddions headings font size",
    "default": 16
  },
  {
    "type":"header",
    "content":"CELLS STYLE"
   },
   {
    "type": "color",
    "id": "cells_background_color",
    "label": "Cells Background Color",
    "default": "#F3F3F3"
  },
  {
    "type": "range",
    "id": "cell_border_radius",
    "min": 0,
    "max": 20,
    "step": 1,
    "unit": "px",
    "label": "Cell border radius",
    "default": 4
  },
  {
    "type": "range",
    "id": "Ingredients_allergens_border_padding",
    "min": 0,
    "max": 20,
    "step": 1,
    "unit": "px",
    "label": "Cells border padding",
    "default": 0
  },
  {
    "type":"header",
    "content":"ICONS AND DETAILS"
  },
  {
    "type": "color",
    "id": "Ingredients_allergens_color",
    "label": "Body font color",
    "default": "#F3F3F3"
  },
  {
    "type": "image_picker",
    "id": "Custom_ingredient_icon",
    "label": "Custom ingredient icon"
  },
  {
    "type": "image_picker",
    "id": "Custom_allergen_icon",
    "label": "Custom allergen icon"
  },
  {
    "type": "image_picker",
    "id": "custom_accordion_icon_opend",
    "label": "Custom Accordion Icon opend"
  },
  {
    "type": "image_picker",
    "id": "custom_accordion_icon_closed",
    "label": "Custom Accordion Icon closed "
  }
  ]
}
{% endschema %}
<!-- {
 "type":"paragraph",
 "content":"These settings affect the text on the whole section."
}, -->



<!-- {
 "type":"paragraph",
 "content":"Modify the style of the cells"
}, -->

<!-- {
 "type":"paragraph",
 "content":"Extra styling options, such as icons and icons color."
}, -->
