<!-- {{ 'theme.scss.css' | asset_url | stylesheet_tag }} -->
{% style %}
  .performance-facts__title {
    color: #222222;
  }
{% endstyle %}
<nutrition-Table class="container_performance-facts" data-id="{{ block.id }}" style="align-items:{{block.settings.vertical_alignment}};"  >
  <!-- {%- if block.settings.heading -%}
    <h1>{{ block.settings.heading }}</h1>
  {%- endif -%}

  {%- if block.settings.description -%}
    <p>{{ block.settings.description }}</p>
  {%- endif -%} -->
 
 
  <!-- {%- if block.settings.vertical_alignment == "center" -%}
<p>center</p>
  {%- endif -%}  -->
  <section class="performance-facts" style="width:{{block.settings.tableWidth}}%;border: {{block.settings.primaryBorderThickness}}px solid {{block.settings.primaryBorder}}; ">

    <header class="performance-facts__header" style="border-bottom: {{block.settings.secondaryBorderThickness}}px solid {{block.settings.secondaryBorder}};">
      <div class="performance-facts__header_title">
        <h1 class="performance-facts__title">Nutrition Facts</h1>
      </div>
      <hr style="margin:0"/>
        <h4>6 serving per container</h4>
        <div class="performance-facts_secondaryHeader" >
          <h3 style="margin:0; font-weight: bold;">Serving size </h3>
          <h3 style="margin:0; font-weight: bold;">1 cup (230g) </h3>
        </div>
    </header>
    <table class="performance-facts__table">
      <thead>
        <tr>
          <th colspan="3" class="small-info" id="servingstuff">
            Amount Per Serving
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="2">
            <b>Calories</b>
            200
          </th>
          <td>
            Calories from Fat
            130
          </td>
        </tr>
        <tr class="thick-row">
          <td colspan="3" class="small-info">
            <b>% Daily Value*</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Fat</b>
            14g
          </th>
          <td>
            <b>22%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Saturated Fat
            9g
          </th>
          <td>
            <b>22%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Trans Fat
            0g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Cholesterol</b>
            55mg
          </th>
          <td>
            <b>18%</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Sodium</b>
            40mg
          </th>
          <td>
            <b>2%</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Carbohydrate</b>
            17g
          </th>
          <td>
            <b>6%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Dietary Fiber
            1g
          </th>
          <td>
            <b>4%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Sugars
            14g
          </th>
          <td>
          </td>
        </tr>
        <tr style="border-bottom: {{block.settings.secondaryBorderThickness}}px solid {{block.settings.secondaryBorder}}">
          <th colspan="2">
            <b>Protein</b>
            3g
          </th>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="performance-facts__table--grid">
      <tbody>
        <tr>
          <td colspan="2">
            Vitamin A
            10%
          </td>
          <td>
            Vitamin C
            0%
          </td>
        </tr>
        <tr class="thin-end">
          <td colspan="2">
            Calcium
            10%
          </td>
          <td>
            Iron
            6%
          </td>
        </tr>
      </tbody>
    </table>
    <p class="small-info">*The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</p>
  </section>
</nutrition-Table>

{% schema %}
{
  "name":"Nutrition Table",
  "target":"section",
  "stylesheet":"germanStyleTable.css",
  "javascript":"nutritionTable.js",
  "templates":["product"],
  "settings":[
    {
      "type":"header",
      "content":"Label Block"
    },
   {
    "type":"select",
    "id":"vertical_alignment",
    "label":"Align",
    "options":
    [
       {
          "value":"left",
          "label":"Left"
       },
       {
          "value":"center",
          "label":"Center"
       },
       {
          "value":"end",
          "label":"Right"
       }
    ],
    "default":"center"
   },
   {
    "type":"range",
    "id":"tableWidth",
    "min":25,
    "max":100,
    "step":1,
    "unit":"%",
    "label":"Width",
    "default":30
   },
   {
    "type":"header",
    "content":"MAIN TABLE"
   },
   {
    "type":"paragraph",
    "content":"These settings affect the main table or section."
   },
   {
    "type":"color",
    "id":"primaryBorder",
    "label":"Primary Border color",
    "default":"#CECECE"
   },
   {
    "type":"color",
    "id":"secondaryBorder",
    "label":"Secondary Border color",
    "default":"#222222"
   },
   {
    "type":"range",
    "id":"primaryBorderThickness",
    "min":0,
    "max":3,
    "step":0.5,
    "unit":"px",
    "label":"Primary Border Thickness",
    "default":1
   },
   {
    "type":"range",
    "id":"secondaryBorderThickness",
    "min":0,
    "max":5,
    "step":0.5,
    "unit":"px",
    "label":"Secondary Border Thickness",
    "default":2
   },
   {
    "type":"range",
    "id":"borderRadius",
    "min":-1,
    "max":1,
    "step":1,
    "unit":"px",
    "label":"Border Radius",
    "default":1
   },
   {
    "type": "color_background",
    "id": "background",
    "label": "Table background color",
    "default": "linear-gradient(#ffffff, #000000)"
   },
   {
    "type": "image_picker",
    "id": "BackGroundImage",
    "label": "Table Background"
  },
  {
    "type": "image_picker",
    "id": "MobileView",
    "label": "Mobile Table Background"
  },
  {
    "type":"header",
    "content":"FONT STYLE"
   },
   {
    "type":"paragraph",
    "content":"These settings affect the text on the whole section."
   },
   {
    "type": "font_picker",
    "id": "body_font",
    "label": "Body Font",
    "default": "helvetica_n4"
  },
  {
    "type": "color",
    "id": "body_fontColor",
    "label": "Body font color",
    "default": "#000000"
  },
  {
    "type": "range",
    "id": "body_font_size",
    "min": 2,
    "max": 14,
    "step": 1,
    "unit": "px",
    "label": "Body font size",
    "default": 12
  },
  {
    "type": "font_picker",
    "id": "acorddions_font",
    "label": "Acorddions Font",
    "default": "helvetica_n4"
  },
  {
    "type": "color",
    "id": "acorddions_font_color",
    "label": "Acorddions font color",
    "default": "#000000"
  },
  {
    "type": "range",
    "id": "acorddions_headings_font_size",
    "min": 4,
    "max": 18,
    "step": 1,
    "unit": "px",
    "label": "Acorddions headings font size",
    "default": 16
  },
  {
    "type":"header",
    "content":"CELLS STYLE"
   },
   {
    "type": "color",
    "id": "cells_background_color",
    "label": "Cells Background Color",
    "default": "#000000"
  },
  {
    "type": "range",
    "id": "cell_border_radius",
    "min": 0,
    "max": 5,
    "step": 1,
    "unit": "px",
    "label": "Cell border radius",
    "default": 4
  },
  {
    "type": "range",
    "id": "vertical_cell_padding",
    "min": 0,
    "max": 4,
    "step": 1,
    "unit": "px",
    "label": "Vertical cell padding",
    "default": 3
  },
  {
    "type": "range",
    "id": "horizontal_cell_padding",
    "min": 0,
    "max": 1,
    "step": 0.1,
    "unit": "px",
    "label": "Horizontal cell padding",
    "default": 0.9
  }
  ]
}
{% endschema %}
<!-- {
  "type":"checkbox",
  "id":"checkbox4",
  "label":"Show tick icon before each ingredient",
  "default":false
 },
 {
  "type": "color",
  "id": "tick_icon_color",
  "label": "Tick icon color",
  "default": "#000000"
} -->
<!-- {
  "type": "color",
  "id": "ingredients_text_color",
  "label": "Ingredients text color",
  "default": "#000000"
},
{
  "type": "image_picker",
  "id": "custom_ingredient_icon",
  "label": "Custom ingredient icon"
} -->
<!-- {
  "type":"header",
  "content":"ICONS AND DETAILS"
 } -->
 